@import 'src/components/core/advanced';

.button{
    height: 60px;
    background: $main_color;
    border-radius: 10px;
    color: #ffffff;
    font-family: $main_font;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.5px;
    border: none;
    cursor: pointer;
    transition: all .15s ease;
    &:hover{
        background-color: darken($main_color, 10%);
    }
}

.button:disabled{
    background-color: darken(#F4F6FC, 30%);
}

.ok{
    background: $success_color;
    box-shadow: 0px 4px 15px rgba($success_color, 0.25);
    transition: all .25s ease;
    &:hover{
        background: $success_color;
        box-shadow: 0 0 0 0;
    }
}
.cancle{
    transition: all .25s ease;
    background: $error_color;
    box-shadow: 0px 4px 15px rgba($error_color, 0.25);
    &:hover{
        background: $error_color;
        box-shadow: 0 0 0 0;
    }

}