@import 'src/components/core/advanced';

.header{
    width: 100%;
    padding: 15px 0;
    background-color: #ffffff;
    &-logo{
        margin-left: 20px;
        a{
            color: #000000;
            letter-spacing: 0.7px;            
        }
    }
    &-control-bar{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .header-notification{
            cursor: pointer;
        }
        .logout{
            cursor: pointer;
        }
    }
}