@import 'src/components/core/advanced';

.header{
    width: 100%;
    padding: 15px 0;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-logo{
        margin-left: 50px;
        a{
            color: #000000;
            letter-spacing: 0.7px;            
        }
    }
    &-control-bar{
        display: flex;
        align-items: center;
        margin-right: 80px;
        .header-notification{
            cursor: pointer;
            padding: 0 20px ;
        }
        .logout{
            cursor: pointer;
        }
    }
}