@import 'src/components/core/advanced';

.sidebar{
    // display: flex;
    // flex-direction: column;
    height: 100vh;
    // transition: all .25s ease;
    margin-right: 15px;
    
    
    &-menu{
        transition: all .25s ease;
        height: 100%;
        &-item{
            &-link{
                img{
                    width: 25px;
                    margin-right: 30px;
                }
            }
        }
    }
    .ant-menu-inline-collapsed > .ant-menu-item, .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item, .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title{
        padding: 0 18px!important;
    }
}

.ant-menu-inline-collapsed > .ant-menu-item {
    .sidebar-menu-item-link img{
        margin-right: 30px;
    }
}



.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left{
    border-right: none!important;
}