@import 'src/components/core/advanced';

.prtasks-task{
    width: 300px;
    padding: 25px 35px 25px 25px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    background-color: $main_color;
    margin-right: 20px;
    margin-top: 30px;
    color: #ffffff;
    border-left: 8px solid;
    .task-text{
        font-size: 14px;
        letter-spacing: 0.05em;
    }
    .task-bottom{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        .task-status{
            text-align: center;
            border-radius: 3px;
            padding: 5px;
            width: 70%;
            background-color: $success_color;
        }
        .task-download{
            color: #ffffff;
            margin-top: 10px;
            transition: all .25s ease;
            &:hover{
                svg{
                    margin-left: 10px;
                }
            }
            svg{
                transition: all .25s ease;
                margin-left: 5px;
            }
        }
    }
}

.border-1{
    border-color: $success_color;
}

.border-2{
    border-color: $accent_color;
    
}

.border-3{
    border-color: $error_color;
    
}