@import 'src/components/core/advanced';

.board{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-right: 30px;
    margin-top: 80px;
    // max-height: 500px;
    // overflow-y: scroll;
    .board-name{
        text-align: left;
        font-weight: bold;
        font-size: 18px;
        color: $main_color;
        margin-bottom: 20px;
    }
    .tasks-wrapper{
        width: 100%;
        border-radius: 5px;
        background-color: rgba(70, 110, 255, 0.1);
        padding: 40px 30px;
    }
}