@import 'src/components/core/advanced';

.backlog-task {
    background-color: $main_color;
    .task-content{
        p{
            color: #ffffff;
            border-right: 2px solid rgb(89, 125, 255);
        }
        .tools-block{
            a {
                color: #ffffff;
            }
        }
    }
}

.sprint-task {
    background-color: rgba(70, 110, 255, 0.1);
    .task-content{
        p{
            color: $main_color;
            border-right: 2px solid $main_color;
        }
        .tools-block{
            a {
                color: $main_color;
            }
            .delete{
                svg{
                    line{
                        stroke: $main_color; 
                    }
                }
            }
        }
    }
}

.task-item{
    max-width: 869px;
    padding: 10px 35px 10px 46px;
    // border-bottom: 1px solid rgb(89, 125, 255);
    .task-content{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        p{
            margin: 0;
            // color: #ffffff;
            font-size: 14px;
            letter-spacing: 0.05em;
            padding-right: 65px;
            width: 685px;
            display: block;
            word-wrap: break-word;

        }
        .tools-block{
            display: flex;
            justify-content: flex-end;
            a{
                margin-left: 20px;
                
            }
            .delete{
                svg{
                    line{
                        transition: all .10s ease;
                    }
                }
                &:hover{
                    svg{
                        line{
                            stroke: $error_color;
                        }
                    }
                }
            }
            
        }
    }
}


.draggble-item:first-child{
    .task-item{

        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
    }
}
.draggble-item:last-child{
    .task-item{

        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }
}