@import 'src/components/core/advanced';


.ant-select{
    .ant-select-arrow{
        padding: 0 15px;
    }
    .ant-select-selection{
        display: flex;
        align-items: center;
        height: auto!important;
        border: 2px solid $main_color;
        color: $main_color;
        &:hover, &:active, &:focus{
            border: 2px solid $main_color;
            border-right: 2px solid $main_color!important;
        }
        &:active, &:focus {
            box-shadow: 0 0 0 0;
        }
        svg{
            fill: $main_color;
        }
    }
}

.ant-select-selection--single .ant-select-selection__rendered{
    line-height: 1.5!important;
    margin: 0!important;
}