@import 'src/components/core/advanced';


.task-item{
    
    max-width: 869px;
    padding: 30px 75px 30px 46px;
    background-color: $main_color;
    border-radius: 10px;
    margin-bottom: 30px;
    .task-content{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        p{
            margin: 0;
            color: #ffffff;
            font-size: 16px;
            letter-spacing: 0.05em;
            padding-right: 65px;
            width: 590px;
            display: block;
            word-wrap: break-word;
        }
        .tools-block{
            // width: 100%;
            display: flex;
            justify-content: flex-end;
            padding-left: 25px;
            border-left: 2px solid rgb(89, 125, 255);
            a{
                padding-left: 20px;
                color: #ffffff;
                
            }
            .delete{
                svg{
                    line{
                        transition: all .10s ease;
                    }
                }
                &:hover{
                    svg{
                        line{
                            stroke: $error_color;
                        }
                    }
                }
            }
            
        }
    }
}