@import 'src/components/core/advanced';

.textarea{
    border: 2px solid $main_color;
    box-sizing: border-box;
    border-radius: 5px;      
    color: $main_color;
    resize: none;
    overflow: hidden;
    transition: all .15s ease;
    color: $main_color;
    &::placeholder{
        color: $main_color;
    }
    &:active, &:focus{
        background-color: lighten($main_color, 15%);
        color: #ffffff;
        &::placeholder{
            color: #ffffff;
        }
    }
}