@import 'src/components/core/advanced';

.create-block{
    padding: 70px 100px;

}

.create-tasks-block{
    .tasks-wrapper{
        margin-top: 80px;
        .create-task{
            margin-top: 50px;
            &-link{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border-radius: 5px;
                border: 2px solid $success_color;
                transition: all .25s ease;
                &:hover{
                    background-color: $success_color;
                    border-color: transparent;
                    svg{
                        line{
                            stroke: #fff;
                        }
                    }
                }
            }
        }
        .visible{
            opacity: 1;
        }
    }
}


.task-input{
    padding: 15px 55px;
    line-height: 30px;
    margin-top: 30px;
    width: 869px;
    opacity: 0;
    transition: all .10s ease;
    overflow: hidden;
    position: relative;
    min-height: 100px;
    resize: none;
    &::placeholder{
        font-size: 14px;
    }
    &::-webkit-scrollbar{
        width: 5px;
    }
    &::-webkit-scrollbar-track{
        background-color: #2448CB;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #fff;
        border-radius: 10px;
    }
}