// $main_color: #2E5BFF;
$main_color: #0F47F2;
$main_light: #A0B8FF;

// $background_color: #F4F6FC;
$background_color: #F4F6FC;
$error_color: #FF5364;
$success_color: #10AC84;
// $accent_color: #F0C419;
$accent_color: #FFB800;


$main_font: 'Open Sans';
