@import 'src/components/core/advanced';


.edit-status{
    margin-top: 40px;
    .description-section{
        p{
            font-size: 14px;
            color: #707070;
            letter-spacing: 0.05em;
        }
        
    }
}

.ant-select{
    .ant-select-selection{
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-right: 20px!important;
        height: 50px;
        border: 2px solid $main_color;
        color: $main_color;
        &:hover, &:active, &:focus{
            border: 2px solid $main_color;
            border-right: 2px solid $main_color!important;
        }
        &:active, &:focus {
            box-shadow: 0 0 0 0;
        }
        svg{
            fill: $main_color;
        }
    }
}

.ant-select-dropdown{
    background-color: $main_color!important;
    .ant-select-dropdown-menu-item.dropdown-list {
        color: #ffffff;
        padding: 10px 20px;
    }
    .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled), .ant-select-dropdown-menu-item-selected{
        background-color: rgba(70, 110, 255, 10)!important;
    }
}