@import 'src/components/core/advanced';

.auth{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration{
    height: 100%;
    &-title{
        padding-top: 50px;
    }
    &-block{
        margin-bottom: 50px;
    }
}

.login, .registration{
    &-title{
        font-family: $main_font;
        font-weight: normal;
        font-size: 28px;
        line-height: 31px;
        letter-spacing: 0.05em;
        color: $main_color;
        text-align: center;
        padding-bottom: 50px;
    }
    &-form{
        display: flex;
        flex-direction: column;
        .input-block{
            margin-bottom: 20px;
        }
        &__input{
            width: 455px;   
            transition: all 0.25s ease;
            &:active, &:focus{
                background-color: lighten($main_color, 15%);
                color: #ffffff;
                &::placeholder{
                    color: #ffffff;
                }
            }
        }
        .error{
            border-color: $error_color;
            color: $error_color;
            &:active, &:focus{
                background-color: lighten($error_color, 15%);
                color: #ffffff;
                &::placeholder{
                    color: #ffffff;
                }
            }
            &::placeholder{
                color: $error_color;
            }
        }

        .success{
            border-color: $success_color;
            color: $success_color;
            &:active, &:focus{
                background-color: lighten($success_color, 15%);
                color: #ffffff;
                &::placeholder{
                    color: #ffffff;
                }
            }
            &::placeholder{
                color: $success_color;
            }
        }

        &__button-group{
            display: flex;
            justify-content: space-between;
            .forgive{
                padding-top: 5%;
                text-decoration: none;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.05em;
                color: rgba(#000000, .3);
            }
        }
        .registration-link, .login-link{
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 0.05em;
            color: rgba(#000000, .5);
            text-align: center;
            padding-top: 50px;
        }
    }
    &-block{
        padding: 100px 95px;
    }
}

.registration-form__input{
    width: 590px;
}


.login-form__button, .registration-form__button{
    padding: 15px 25px;
}
