@import 'src/components/core/advanced';

.tabs-wrapper{
    margin-bottom: 150px;
    &__bar{
        padding: 0;
        display: flex;
        .tabs-bar__tab{
            display: flex;
            align-items: center;
            border-radius: 10px;
            margin-right: 15px;
            list-style-type: none;
            padding: 17px 27px;
            background-color: #ffffff;
            color: $main_color;
            transition: all .25s ease;
            box-shadow: 0px 4px 14px rgba(46, 91, 255, 0.05);
            &:hover{
                background-color: $main_color;
                color: #ffffff;
                cursor: pointer
            }
            .no-return{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25px;
                height: 25px;
                padding-top: 2.5px;
                padding-left: 1px;
                border-radius: 100%;
                color: #ffffff;
                font-size: 18px;
                margin-left: 10px;
                // font-weight: bold;
                background-color: $accent_color;
            }
        }   
        .completed{
            background-color: $success_color;
            color: #ffffff;
        }
        .tab-active{
            background-color: $main_color;
            color: #ffffff;  
        }
    }

    .tabs-pane{
        display: flex;
        margin-top: 30px;
        border-radius: 10px;
        box-shadow: 0px 4px 14px rgba(46, 91, 255, 0.05);
        background-color: #ffffff;
        padding: 60px 0 70px 0;
        max-height: 600px;
        height: 600px;
        &__left{
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 400px;
            border-right: 5px solid #F4F6FC;
            h4{
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0.08em;
                margin-bottom: 40px;
            }
            .progress-block{
                margin-bottom: 50px;
            }
            .button-group{
                .button-contact{
                    font-size: 14px;
                    background-color: transparent;
                    border: 2px solid $main_color;
                    color: $main_color;
                    padding: 15px 24px;
                    transition: all .15s ease;
                    &:hover{
                        background-color: $main_color;
                        border: 2px solid transparent;
                        color: #ffffff;
                    }
                }
            }
        }
        &__right{
            width: 100%;
            height: 100%;
            padding-left: 70px;
            .tabs-milestone{
                height: 100%;
                &__bar{
                    display: flex;
                    margin-bottom: 50px;
                    .tabs-milestone__tab{
                        color: #000000;
                        margin-right: 20px;
                        list-style-type: none;
                        position: relative;
                        // transition: all .25s ease;
                        &:after{
                            content: '';
                            position: absolute;
                            bottom: -3px;
                            left: 0;
                            height: 2px;
                            width: 0%;
                            background-color: #000000;
                            transition: all .15s ease;
                        }
                        &:hover{
                            cursor: pointer;
                            &:after{
                                width: 100%;
                            }
                        }
                    }
                    .tabs-milestone__active{
                        &:after{
                            content: '';
                            position: absolute;
                            bottom: -3px;
                            left: 0;
                            height: 2px;
                            width: 100%;
                            background-color: #000000;
                            transition: all .15s ease;
                        }
                    }
                }
                &__pane{
                    max-width: 850px;
                    ul{
                        li{
                            // width: 100%;
                            display: flex;
                            align-items: center;
                            list-style-type: none;
                            color: rgba($color: #000000, $alpha: 0.58);
                            padding-bottom: 20px;
                            span{
                                margin-right: 20px;
                            }
                            .typical-icon{
                                // border-radius: 100%;
                                width: 6px;
                                min-width: 6px;
                                height: 2px;
                                background-color: $success_color;
                            }
                        }
                    }
                }
            }
        }
    }
}

.empty-tasks-block{
    width: 100%;
    padding-top: 10%;
}

.empty-milestones-block{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}