@import 'src/components/core/advanced';

*{
    box-sizing: border-box;
    outline: 0;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

a{
    text-decoration: none;
}

body, #root {
    margin: 0;
    padding: 0;
    background-color: $background_color;
    font-family: $main_font, sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}