@import 'src/components/core/advanced';

.button-create{
    &-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 3px;
        background-color: transparent;
        border: 2px solid $main_color;
        color: $main_color;
        transition: all .25s ease;
        &:hover{
            color: #ffffff;
            background-color: $main_color;
        }
    }
}

.button-empty{
    margin-top: 60px;
    padding-left: 24px;
    padding-right: 24px;

}

.popup-ant{
    width: 80%!important;
}